table {
    text-align: center;
    color: red;
    background-color: blue;
    vertical-align: middle;
    table-layout: display;
    width: 500;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    top: 50%;
    left: 50%;
    
    
}

.td { 
    width: 100px;
    height: 100px;
    text-align: center;
    border: solid;
    margin: auto;
    
   
    
    
}

.tr {
    text-align: center;
    
    
    
}

#fixedheight {
    table-layout: fixed;
    text-align:center;

}

#fixedheight td {
    height: 100px;
    overflow: hidden;
    width: 50%;
    text-align: center;
}

body {
    background-image: url(https://cbsla.files.wordpress.com/2013/08/shutterstock_137588087.jpg);
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    
}

#score {
    color: white;
}


.cat {
color: red;
font-size: 150%;
font-weight: bold;
}

.amount {
    color: white;
    font-size: 100%;
    font-weight: bold;
}

#value {
    color:white;
    text-decoration: none;
}
    


#value: hover {
    color: yellow;
    font-weight: bold;
}
